section{
    max-width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 10%;
    padding: 20px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 20px;
}
#pCreate{
    text-decoration: underline blue;
}

#pMessage{
    color: red;
}

